* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fafafa
}

.wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 100px;

}

.phone {
    width: 500px;
    height: 530px;
    margin-right: -100px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 400px;
}

.perfil {
    border: 10px;
    border-radius: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 300px;
    height: 300px;
    padding-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #dbdbdb; 
    border-radius: 4px;
   
}

.login img {
    width: 50%;
    margin-bottom: 10px;
}

.login button {
    margin-bottom: 10px;
    background-color: #0095f6;
    border: 3px solid transparent;
    border-radius: 5px;
    color:#fff;
    font-family: sans-serif;
    padding: 5px;
}

.login a {
    font-weight: 500;
    color: #0095f6;
    margin-bottom: 10px;
    text-decoration: none;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 300px;
    height: 125px;
    margin-bottom: 20px;
    border: 2px solid #dbdbdb; 
    border-radius: 5px;
}

p {
    color: gray;
}
.register a {
    font-weight: 500;
    color: #0095f6;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-app {
    width: 300px;
    height: 30px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

h2 {
    font-size: 20px;
    color: grey;
}

.download {
    display: flex;
}

.button {
    width: 150px;
}